/* Reset */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding-top: 30px;
  }
  
  /* Navbar Styles */
  .navbar {
    position: fixed; /* Fixed at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    background-color: #002f6c; /* ICC-style background */
    color: white;
    z-index: 1000;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
    height: 70px;
  }
  
  .navbar-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .brand img {

    height: 20px;
    width: 60px;
    margin-left: 15px;
    margin-top: 7px;
    
  }
  
  .menu {
    display: flex;
    gap: 20px;
   
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    /* font-size: 1em; */
  }
  
  .toggle {
    display: none; /* Hidden on larger screens */
    background: none;
    border: none;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  /* Responsive Menu */
  @media (max-width: 768px) {
    .menu {
      display: none; /* Hidden by default */
      flex-direction: column;
      position: absolute;
      top: 50px; /* Below the navbar */
      right: 20px;
      width: 50%;
      box-shadow: 0 4px 18px #ffffff;
      background-color: #002f6c;
      padding: 10px ;
    }
  
    .menu.show {
      display: flex; /* Show menu when toggled */
    }
  
    .toggle {
      display: block; /* Visible on smaller screens */
    }
  }



.match-score {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 40px auto;
    box-shadow: 0 4px 6px #000000;
    max-width: 800px;
    width: 85%;
    white-space: nowrap; /* Prevent text from wrapping */
}

.team {
    margin: 0 10px;
    font-weight: bold;
    color: #333;
}

.score {
    font-weight: bold;
    color: #4CAF50;
    margin: 0 10px;
   
}

.score2 {
    font-weight: bold;
    color: red;
    margin: 0 10px;
}





@media (max-width: 768px) {
    .match-score {
        max-width: 100%;
        font-size: 16px; /* Slightly smaller font size for smaller screens */
    }
}



.rank-box {
    width: 80%;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 18px #000000;
    text-align: center;
    font-family: Arial, sans-serif;
}

.rank-box h2 {
    margin-bottom: 15px;
    color: #333;
    font-size: 24px;
}

.rank-table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.rank-table th, .rank-table td {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.rank-table th {
    background-color: #071d67;
    color: white;
    font-weight: bold;
}

.rank-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dot{
     
     color: #000000;
}


